<h1><%= @meal.title %></h1>

<ul>
  <li><%= link_to "Bearbeiten", edit_meal_path(@meal) %></li>
  <li><%= link_to "Löschen", meal_path(@meal), data: {
                    turbo_method: :delete,
                    turbo_confirm: "\"#{@meal.title}\" wirklich löschen?"
                  } %></li>
</ul>

<section>
  <h2>Zuletzt gekocht am</h2>
  <p>
  <ul>
    <%= render @meal.cookings %>
  </ul>

  <%= form_with model: [ @meal, @meal.cookings.build ] do |form| %>
    <p>
      <%= form.date_field :cooked_at, value: DateTime.now.to_date %>

      <%# TODO Does not show errors %>
      <% @meal.errors.full_messages_for(:cooked_at).each do |message| %>
        <div><%= message %></div>
      <% end %>

      <%= form.submit 'Anlegen' %>
    </p>
  <% end %>
  </p>
</section>

<section>
  <h2>Notizen</h2>
  <p><%= @meal.notes %></p>
</section>
