<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Tracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
</head>
<body>
  <header>
    <nav>
      <%= link_to "Home", main_app.root_path %>
      <%= link_to "Essen", main_app.meals_path %>
      <%= link_to "Tags", main_app.tags_path %>
      <%= link_to "Benutzer", main_app.users_path %>
      <% if current_user %>
        <%= link_to "Abmelden", users.sign_out_path %>
      <% else %>
        <%= link_to "Anmelden", users.sign_in_path %>
      <% end %>
    </nav>

    <h1>Meal Tracker</h1>
    <p>Wann haben wir <i>das</i> zuletzt gegessen?</p>
  </header>

  <main>
    <% flash.each do |kind, msg| %>
      <%= tag.div(class: kind) { msg } %>
    <% end %>

    <%= yield %>
  </main>

  <footer>
    <% if current_user %>
      <p>Du bist angemeldet als <%= current_user.email %></p>
    <% end %>
    <p>Steffen Uhlig, 2022</p>
  </footer>
</body>
</html>
